<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <form ng-submit="newMovieVm.createMovie()">
                    <div class="newMovieBox">
                        <div class="form-group">
                            <div id="space">
                                <input class="form-control form-ctrl" type="text"placeholder="Title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div>
                                <input class="form-control form-ctrl" type="text"  id="title"  placeholder="Title" ng-model="newMovieVm.newMovie.title"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" type="text"   id="year"  placeholder="Year" ng-model="newMovieVm.newMovie.year"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id="rated" type="text" placeholder="Rated" ng-model="newMovieVm.newMovie.rated"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id="released" type="text" placeholder="Release Date" ng-model="newMovieVm.newMovie.released"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id="runtime" type="text" placeholder="Runtime" ng-model="newMovieVm.newMovie.runtime"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='genre' type="text" placeholder="Genre" ng-model="newMovieVm.newMovie.genre"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='director' type="text" placeholder="Directors" ng-model="newMovieVm.newMovie.director"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='writer' type="text" placeholder="Writers" ng-model="newMovieVm.newMovie.writer"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='actors' type="text" placeholder="Actors" ng-model="newMovieVm.newMovie.actors"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='plot' type="text" placeholder="Plot" ng-model="newMovieVm.newMovie.plot"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='language' type="text" placeholder="Language"ng-model="newMovieVm.newMovie.language"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='country' type="text" placeholder="Country" ng-model="newMovieVm.newMovie.country"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id = 'awards' type="text" placeholder="Awards" ng-model="newMovieVm.newMovie.awards"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='poster' type="text" placeholder="Poster" ng-model="newMovieVm.newMovie.poster"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='metascore' type="text" placeholder="Metascore" ng-model="newMovieVm.newMovie.metascore"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='imdbRating' type="text" placeholder="IMDB Ratings" ng-model="newMovieVm.newMovie.imdbRating"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='imdbVotes' type="text" placeholder="IMDB Votes" ng-model="newMovieVm.newMovie.imdbVotes"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id="imdbID" type="text" placeholder="IMDB ID" ng-model="newMovieVm.newMovie.imdbID"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="inputForm">
                                <input class="form-control form-ctrl" id='type' type="text" placeholder="Type" ng-model="newMovieVm.newMovie.type"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div align="center" id="btnRegister">
                                <button type="submit" class="btn btn-primary form-control form-ctrl">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-2">

            </div>
        </div>
    </div>

</div>